
<nav class="navbar navbar-expand-lg navbar-dark bg-info text-light"> 

    <a class="nav-brand mr-5" routerLink="ipl-trophy"> Homescreen </a>    
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">  
                <a class="nav-link" routerLink="all-players"> all-players </a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" routerLink="search"> search </a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" routerLink="register"> register </a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" routerLink="/login"> login </a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" routerLink="/logout"> logout </a>
            </li>
        </ul>
    </div>
    
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation" aria-expanded="false"> <span class="navbar-toggler-icon"> </span> </button>

</nav>




 <!--*ngif="loginService.isUserLoggedIn() -->





















