<div class="form-group">  

    <form class="form-group" >
        <fieldset>
            
            <div class="form-group">
                <label for="empid"> Employee Id </label>
                <input type="text" [(ngModel)]="employee.empid" name="empid" id="empid" class="form-item" placeholder="Enter employee firstname" required>
            </div>
            <div class="form-group">
                <label for="firstname"> Firstname </label>
                <input type="text" [(ngModel)]="employee.firstname" name="firstname" id="firstname" class="form-item" placeholder="Enter employee firstname" required>
            </div>
            <div class="form-group">
                <label for="lastname"> Lastname </label>
                <input type="text" [(ngModel)]="employee.lastname" name="lastname" id="lastname" class="form-item" placeholder="Enter employee lastname" required>
            </div>
            
            <div class="form-group">
                <label for="address"> Address </label>
                <input type="text" [(ngModel)]="employee.address" name="address" id="address" class="form-item" placeholder="Enter employee address" required>
            </div>
            <div class="form-group">
                <label for="dob"> Dob </label>
                <input type="text" [(ngModel)]="employee.dob" name="dob" id="dob" class="form-item" placeholder="Enter employee date of birth" required>
            </div>
            <div class="form-group">
                <label for="mobile"> Mobile number </label>
                <input type="text" [(ngModel)]="employee.mobile" name="mobile" id="mobile" class="form-item" placeholder="Enter employee mobile number" required>
            </div>
            <div class="form-group">
                <label for="city"> City </label>
                <input type="text" [(ngModel)]="employee.city" name="city" id="city" class="form-item" placeholder="Enter employee city" required>
            </div>
           
            <div class="form-group">
                <button type="button" class="btn btn-success" routerLink="/homescreen" (click)="onSubmit()"> Update </button>
            </div>
        </fieldset>
    </form>

</div>

<!--  -->
