<div class="container">

<a routerLink="/add-employee"> Add Employee </a>

<div class="col-lg-12 col-sm-12 col-xs-12">

<table class="table table-striped">
    <thead>
        <tr class="bg-info text-light"> 
            <td> Employee Id </td> 
            <td> Firstname </td> 
            <td> Lastname </td> 
            <td> Address </td> 
            <td> Date Of Birth </td> 
            <td> Mobile Number </td> 
            <td> City </td> 
            <td> Update Employee </td>
            <td> Delete Employee </td> 
        </tr>
    </thead>

    <tbody >
        <tr *ngFor="let employ of messaging"> 
            <td> {{ employ.empid }}     </td>
            <td> {{ employ.firstname }} </td> 
            <td> {{ employ.lastname }}  </td>
            <td> {{ employ.address }}   </td>
            <td> {{ employ.dob }}       </td> 
            <td> {{ employ.mobile }}    </td>
            <td> {{ employ.city }}      </td> 
            <td> <button type="button" routerLink="/update-employee" > Update </button> </td>
            <td> <button type="button" (click)="deleteEmployee(employ.firstname)"> Delete </button> </td>
        </tr>        
    </tbody>
</table>

</div>
</div>